:root {
  --color-orange: #fe6900;
  --color-link: white;
  --color-bg-footer: #1a1a1a;
  --color-white: white;
  --color-discount: red;
  --color-sostenibile: green;
  --color-like: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
}

/* UTILS */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex,
.row {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-end {
  justify-content: end;
}

.h-100 {
  height: 100%;
}

.row {
  gap: 1rem;
  margin-bottom: 1rem;
}

/* COMPONENTS */
.card {
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}

.card .img-wrapper img {
  width: 100%;
  max-height: 700px;
}

.card .img-wrapper.back {
  display: none;
}

.card:hover .img-wrapper.back {
  display: block;
}

.card:hover .img-wrapper {
  display: none;
}

.card .info p {
  font-size: .8rem;
}

.card .info p span:first-child {
  color: var(--color-discount);
  font-weight: bold;
}

.card .discount {
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 15%;
}

.card .discount span {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
}

.card .discount span:first-child {
  background-color: var(--color-discount);
}

.card .discount span:last-child {
  background-color: var(--color-sostenibile);
}

.card .like {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--color-white);
  cursor: pointer;
}

.card .like:hover {
  color: var(--color-like);
}

/* SPECIFIC */
header {
  background-color: var(--color-orange);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header nav,
header .logo,
header .menu {
  width: 33.3%;
}

header nav ul li {
  margin-right: 1rem;
}

header .logo {
  padding: 1rem 0;
  text-align: center;
}

header .menu {
  color: var(--color-link);
  gap: .5rem;
}


header img {
  max-width: 150px;
}

main {
  padding: 3rem 0;
  margin-top: 5rem;
}

footer {
  background-color: var(--color-bg-footer);
  color: var(--color-link)
}

footer .info,
footer .social {
  flex-grow: 1;
}

footer .info ul {
  gap: 1rem;
  margin-top: 1rem;
}

footer .social {
  text-align: end;
}

footer .social ul {
  font-size: 1.2rem;
  margin-top: .5rem;
}

footer .social ul li {
  display: inline-block;
}

footer .container {
  padding: 2rem 0;
}